@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

@*<form>
    <input type="search" name="searchTerm" />
    <input type="submit" value="search by name" />
</form>*@

@using (Ajax.BeginForm(
    new AjaxOptions { 
        HttpMethod="get",
        InsertionMode=InsertionMode.Replace,
        UpdateTargetId="restaurantList"
    }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="search by name" />
}

@Html.Partial("_Restaurants", Model)

